page-home {
    video {
        max-width: 100%;
    }
    .comment > ion-col {
        padding: 0 16px 10px;
        font-size: 80%;
    }
    ion-card-content.card-content p {
        font-size: 90%;
        margin-top: 10px;
    }
}